FIREWORKS_API_KEY=__FIREWORKS_API_KEY__  # for QWEN (ALIBABA) models https://fireworks.ai/models/fireworks/qwen2p5-vl-32b-instruct
OPENAI_API_KEY=__OPENAI_API_KEY__
ANTHROPIC_API_KEY=__ANTHROPIC_API_KEY__

PROVIDER="OPENAI"  # Options: "OPENAI", "ANTHROPIC", "QWEN"
GOOGLE_MAPS_API_KEY=___GOOGLE_MAPS_API_KEY___  # only needed to get ortophotos of specific locations in notebook